<form action="{% url 'confirm' %}" method="post">
    {% csrf_token %}

    <div>
        <h2>Tasdiqlash kodini kiriting</h2>
        <input type="text" name="code" placeholder="Tasdiqlash kodini kiriting" required>
        <button type="submit" class="btn btn-tasdiqlash">Tasdiqlash</button>
        <p>Kirish uchun sizga sms xabar yuborilgan</p>
    </div>
    {% if messages %}
        {% for message in messages %}
         <center>
            <p style="color:blue;">{{message}}</p>
            <br>
         </center>
        {% endfor %}
    {% endif %}
</form>