

<form action="{% url 'my-account' %}" method="post">
    {% csrf_token %}
    <input type="text" name="phone" pattern=".{13,}" minlength="13" value="+998" placeholder="+998900000000" required>
    <input type="text" name="name" placeholder="Falonchiyev Pistonchi">
    <button type="submit" class="btn btn-kirish">Kirish</button>

    {% if messages %}
        {% for message in messages %}
         <center>
            <p style="color:red;">{{message}}</p>
            <br>
         </center>
        {% endfor %}
    {% endif %}

</form>
